# Project specific
webapps/thread/test.json

# Numerous always-ignore extensions
*.bak
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.tgz
*.vi
*.zip
*~

# OS or Editor folders
._*
.cache
.DS_Store
.env
.eslintcache
.idea
.lock-wscript
.next
.node_repl_history
.npm
.project
.settings
.tmproj
.vs
.vscode
.yarn-integrity

*.esproj
*.sublime-project
*.sublime-workspace

nbproject
Thumbs.db

# Folders to ignore
coverage
lib-cov
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# un-ignore any README.md
!README.md

# never ignore .gitignore
!.gitignore

# never ignore LICENSE.md
!LICENSE.md
!LICENSE