<!-- EXAMPLE OF DROP DOWN SECTION IN DATAIKU -->
<div class="section ng-scope" ng-if="(shaker.origin === 'ANALYSIS' || shaker.origin === 'DATASET_EXPLORE') &amp;&amp; shakerState.writeAccess &amp;&amp; !inInsight">
    <div class="section-content">
        <ul class="nav dropdown">
             <li>
                <a ng-click="createPredictionModelOnColumn(column.name, inputDatasetName)" tabindex="-1">
                    <i class="icon-dku-lab"></i>
                    Create Prediction model...
                </a>
            </li>
        </ul>
    </div>
</div>