.app-link {
  text-decoration: 'underline';
  color: blue;
  cursor: pointer;
}

.modal-dialog{
  left:0px;
}

.dataiku-item { 
  padding-top: 2.0em;
}

.dataiku-item p {
  font-size: 1.5em;
}

.dataiku-item .tags span {
  font-size: 1.5em;
  margin-right: 1.0em;
}

.filter h4 {
  margin-top: 0.25em;
}

.filter-types {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

.filter-types input[type=checkbox] {
  margin-top: 0;
}

.filter-types label {
  margin-bottom: 0;
}